<!--
<h1>TripAround</h1>
<h3 class="serachheading">Search Page</h3>
<button class="btn btn-primary" id="logout">Log out</button>

-->







<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2 class="FooterTitle">
        Unsere Mission
</h2>

<p class="FooterContent">Unterschiedlicher und multikultureller könnte das Team TripAround kaum sein, aber eine gemeinsame Vision verbindet uns: Wir wollen das Rundreisen vom Planen bis Erinnern einfacher und effizienter machen.
Dafür setzen wir uns mit aktuellster Technik aus der universitären Forschung ein. Wir befreien dich von Zeitraubendem und geben dir mehr Zeit für Erlebnisse.
Wir wollen den Wissensdurst nach Ländern, Kulturen, fremdem Essen und den schönsten Flecken auf unserem Planeten entfachen, und Lust auf Erlebnisse fernab des Massentourismus machen.
Dabei helfen wir dir, dass du bei deiner Tour nicht nur entspannen sondern auch Erfahrungen mitbringen kannst, um die dich alle beneiden werden.
Lass die schönen Momente deiner Tour also nicht in einem Ordner verschwinden, sondern lass uns gemeinsam blitzschnell die besten Bilder finden und unvergesslich machen. Lass deine Tour automatisch auf deiner Entdeckerkarte aufbereiten und folge dem roten Faden. Teile so deine Erlebnisse mit der Welt und lass andere aus deinen Erfahrungen lernen. So baust du dir Schritt für Schritt eine Lebenschronik deiner Touren durch Orte, Städte, Länder und Kontinente. Und vor allem machst du anderen Mut, selbst die Welt zu entdecken!
Doch das ist nur der Anfang. Zukünftig werden wir dir durch tolle technische Innovationen noch viel mehr bieten können. Also: jetzt deine Touren unvergesslich machen, Neues erleben und immer wieder von besonderen TripAround-Möglichkeiten begeistern lassen!
Wir suchen noch Genies aus allen Fachbereichen, die unsere Leidenschaft fürs Reisen teilen. Wenn du dich mit unserer Mission identifizieren kannst, zögere nicht uns deine Bewerbung zuzuschicken an hello@triparound.de.
</p>

</body>
</html>