<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2 class="FooterTitle">
    FAQ
</h2>
<p class="FooterContent">
Q] Muss ich mich anmelden, um mir die Touren anzusehen?<br/>
A] Nein, das musst du nicht. Browse einfach durch die Touren die dich interessieren und lass dich inspirieren. Möchtest du Touren als Favoriten speichern, oder selbst eine Tour dokumentieren, brauchst du allerdings einen Account.
</p>
<p class="FooterContent">Q] Wie kann ich meinen Account anlegen?<br/>
A] Klicke einfach auf Login und wähle dort Registrieren aus. Hier kannst du dich mit deiner E-Mailadresse und deinem Namen anmelden und direkt loslegen.
</p>
<p class="FooterContent">Q] Wie kann ich meine Rundreise anlegen?<br/>
A] Registriere dich bzw. logge dich ein. Lege eine neue Tour an, indem du auf ‚create map‘ clickst. Ergänze einen Titel und eine Beschreibung deiner Tour, damit du sie eindeutig wiedererkennen kannst. Du kannst dies später natürlich nochmal ändern. Jetzt einfach die Bilder deiner Tour im entsprechenden Bereich hochladen. Haben deine Bilder Geotags, machen wir alles automatisch für dich: sie werden auf der Karte angeordnet und in den weiteren Views angezeigt.
Jetzt liegt es an dir, aus deinen Bildern ein Erlebnis zu machen. Ergänze Beschreibungen zu deinen Tourstops oder auch zu einzelnen Bildern. Dies kannst du im Itinerary-View. Erzähl, was deine Reise besonders gemacht hat, und auf was du gern verzichten hättest können. Lass andere von deinen Erfahrungen profitieren, indem du ihnen beispielsweise verrätst, wann man sich am besten bestimmte Sehenswürdigkeiten ansehen sollte oder welcher Bus dich am besten weiterbringt.
Wir bieten dir 1 GB kostenlosen Speicher für deine Erinnerungen. Darüber hinaus kannst du zusätzlichen Speicherplatz in verschiedenen Modellen dazu erwerben.
</p>
<p class="FooterContent">Q] Kann ich meine Tour auch anlegen, wenn meine Bilder keine Geotags haben?<br/>
A] Ja, das kannst du selbstverständlich. Hier musst du allerdings selbst ein bisschen ran. Gehe hierzu in den Itinerary-View. Dort kannst du in der oberen linken Ecke deine Tourstops suchen. Wenn du auf ‚create marker‘ klickst, wird dein Marker ebenso wie deine Tourstopp-Box automatisch gesetzt, und du kannst weitere Infos ergänzen. Im linken Boxfenster kannst du nun die Bilder deines Stopps per drag & drop oder durch Auswahl von deinem Computer hochladen. Rechts kannst du weitere Infos ergänzen. Gehe so für alle deine Tourstopps vor. Die anderen Views werden dann automatisch für dich erzeugt.
</p>
<p class="FooterContent">Q] Was passiert wenn ich meine Rundreise einstelle?<br/>
A] Dann lässt du deine Erfahrungen endlich nicht mehr, in einem Ordner auf deinem Laptop vereinsamen. Du bekommst schön aufbereitete Ansichten, die dich an deine Erlebnisse erinnern, sie in einen zeitlichen und räumlichen Zusammenhang setzen und dir dadurch eine tolle Erinnerung schaffen. Legst du deine Tour als öffentlich an, kannst du anderen helfen, ihre Reise besser vorzubereiten und Routen zu finden, die zu ihren Vorstellungen passen. Selbstverständlich kannst du diese dann auch mit deinen Freunden und der Welt teilen. Hierzu einfach den Link teilen oder unsere Social Media-Integrationen nutzen.
</p>
<p class="FooterContent">Q] Was passiert mit meinen Bildern?<br/>
A] Deine Bilder werden bei uns gespeichert. Möchtest du Bilder ganz entfernen, werden sie aus unserer Datenbank gelöscht. Du hast die Möglichkeit deine Bilder als privat einzustufen. Dann werden sie nicht in der öffentlichen Version deiner Tour angezeigt. Schränkst du die Veröffentlichung stark ein, entgeht dir leider die Option, deine Erlebnisse mit anderen zu teilen. Ist deine Tour öffentlich können andere Nutzer von deinen Erfahrungen profitieren und sich inspirieren lassen.
</p>
<p class="FooterContent">Q] Wie kann ich meine Tour mit meinen Freunden teilen?<br/>
A] Dazu siehst du dir einfach die öffentliche Version deiner Tour an, kopierst den Link und leitest ihn an deine Freunde weiter. In Kürze werden wir dir eine automatisierte Option bereitstellen, mit der du deine Highlights umfassend in einem (Social-Media) Post teilen kannst.
</p>
<p class="FooterContent">Q] Was ist der Unterschied zwischen Tour suchen und Tour speichern?<br/>
A] Unter Tour suchen findest du alle Touren, die unsere Nutzer öffentlich zugänglich gemacht haben. Hier kannst du Inspiration finden, wie du deine Route am besten gestalten solltest, wie lange du an welchen Tourstopps einplanen solltest und wie lange die Wege dazwischen sind, bzw. wie du diese am besten bewältigst. So findest du am besten, die Tour, die zu dir passt. Buchbare Touren kannst du beim jeweiligen Anbieter buchen.
Unter Tour speichern kommst du zum Login, bzw. zu deinem Dashboard. Hier kannst du deine Erinnerungen, Erfahrungen und Erlebnisse deiner Rundreisen unvergesslich machen. Verschiedene Views liefern dir eine tolle Zusammenfassung deiner Erfahrungen, die du ganz nach deinem Geschmack mehr oder weniger ausführlich beschreiben kannst. Diese kannst du dann mit deinen Freunden und der Welt teilen.
</p>
<p class="FooterContent">Q] Kann ich mit den Autoren einer Tour in Kontakt treten?<br/>
A] In Kürze werden wir dir eine Möglichkeit geben über Posts und persönliche Nachrichten mit den Reiseerfahrenen in Kontakt zu treten. Im Moment ist das leider noch nicht möglich.
</p>
<p class="FooterContent">Q] Ich bin Rundreiseveranstalter, wie kann ich meine Touren bei euch einstellen?<br/>
A] Wir freuen uns, dass du TripAround als innovativen Marktplatz für deine Touren identifiziert hast. Setz dich am besten gleich mit uns in Verbindung über hello@triparound.de und vereinbare ein persönliches Gespräch. Hier zeigen wir dir, wie du das Beste herausholen kannst, wenn du deine Touren bei uns einstellst. Zudem besprechen wir, wie wir deine Buchungsoptionen integrieren können. Das Einstellen der Touren funktioniert ganz ähnlich wie mit deinem privaten Account. Allerdings bieten wir dir hier weitere Schnittstellen, die auf deine Bedürfnisse ausgerichtet sind, wie den Upload von Tourbeschreibungen in bestimmten Dateiformaten. Dadurch hast du weniger Arbeit und kannst deine Tourbasis im Handumdrehen erstellen. Für
</p>
<p class="FooterContent">Q] Es ist noch nicht die richtige Tour für mich dabei, habt ihr noch mehr Touren?
A] Keine Sorge, die Anzahl unserer Touren wird sich stets erhöhen. Also schau gerne immer mal wieder rein. Zukünftig werden wir dir auch einen Benachrichtigungsservice bieten, über den du dich informieren lassen kannst, wenn neue Touren zu deiner Wunschdestination eingestellt wurden. Damit TripAround fleißig wachsen kann, sind wir auch auf deine Unterstützung angewiesen. Also legt doch gleich los und lass andere von den Erfahrungen deiner letzten Rundreise profitieren.

</p>
</body>
</html>