<!-- Iteniary page -->
<!--<h1>(TripAround logo)</h1>-->
<h3>Welcome, {{userid}}</h3>

<button class="btn btn-primary" id="logoutbutton">Log Out </button>
<!--
<div class="row steps">
    <div class="col-md-3 step step-past">
        <a href="#dashboard">1. Select a map.</a>
    </div>
    <div class="col-md-3 step step-past">
        <a href="#UploadImages">2. Upload pictures.</a>
    </div>
    <div class="col-md-3 step step-past">
        <a>3. Manage your gallery.</a>
    </div>
    <div class="col-md-3 step step-past">
        <a href="#ViewImages">4. Edit your map.</a>
    </div>
    <div class="col-md-3 step step-current">
        <a href="#iteniary">5.View Iteniary.</a>
    </div>
    <div class="col-md-3 step step-future">
        <a href="#searchtours">6. Search for Tours.</a>
    </div>
</div> -->

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">TripAround</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#dashboard" id="dashboard"></a></li>
                <li><a href="#UploadImages" id="upload"></a></li>
                <li><a href="#imagegallery" id="gallery"></a></li>
                <li><a href="#ViewImages" id="editmap"></a></li>
                <li class="active"><a href="#iteniary"  id="viewite"><span class="sr-only">(current)</span> </a></li>
                <li><a href="#searchtours" id="search"></a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" class="btn btn-primary" id="logoutbutton" >Log Out</a></li>
            </ul>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="row">
    <div class="col-md-12">
        <div id="statusText"></div>
    </div>
</div>


<div class="row">
    <div id="googlemapcontainer">
            <div class="row">
                <div class="col-md-8">
                    <div class="w3-container w3-blue" id="IteniaryPage">
                        <!--Iteniary pages go here -->
                       <!--Create Iteniary pages here -->
                        <input type="text" placeholder="Enter Tour Stop" id="place">
                        <button type="button" class="btn btn-primary" id="createTourStop"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
                        <button type="button" class="btn btn-primary" id="replayTourAnimation"><i class="fa fa-repeat" aria-hidden="true"></i></button>
                        <!--<button type="button" class="btn btn-primary" id="saveIteniary"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save </button>-->
                    </div>
                </div>
                <div class="col-md-4">
                    <div id="googleMap" ></div>
                </div>
            </div>
        </div>
</div>


