<!-- This is the Main landing Page for TripAround -->
<h1>Welcome to Trip Around </h1>



<div id="pagepiling">


    <div class = "section" id = "page1">
        <button id="login" class="btn btn-success">Login </button>
        <p>Map pic Goes here</p>

    </div>

    <div class = "section" id = "page2">

        <div class = "intro">
            <p>Buttons Page</p>
        </div>

    </div>

    <div class = "section" id = "page3">

        <div class = "intro">

            <p>About us or Something</p>
        </div>

    </div>
</div>