<!-- This is the Main landing Page for TripAround -->
<h1>Welcome to Trip Around </h1>


<div class="w3-container w3-teal">

<div id="pagepiling">

    <div class = "section" id = "page1">
        <div class="row">
        <div class="col-md-12">
            <button id="login" class="btn btn-success">Login </button>
            <p>Map pic Goes here</p>
        </div>
        </div>
    </div>

    <div class = "section" id = "page2">
        <p>Buttons Page</p>
        <div class = "intro">
            <div class="row">
                <div class="col-md-6">
                    <button class="btn btn-primary" id="SearchTour">Search Primary</button>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-primary" id="SaveTour">Save Tour</button>
                </div>

            </div>
        </div>
    </div>

    <div class = "section" id = "page3">

        <div class = "intro">

            <p>About us or Something</p>
        </div>

    </div>
</div>
</div>
