<!--Search and display Tours -->
{{message}}
<div class="row steps">
    <div class="col-md-3 step step-past">
        <a href="#dashboard">1. Select a map.</a>
    </div>
    <div class="col-md-3 step step-past">
        <a href="#UploadImages">2. Upload pictures.</a>
    </div>
    <div class="col-md-3 step step-current">
        <a>3. Manage your gallery.</a>
    </div>
    <div class="col-md-3 step step-future">
        <a href="#ViewImages">4. Edit your map.</a>
    </div>
    <div class="col-md-3 step step-past">
        <a href="#iteniary">5.View Iteniary.</a>
    </div>
    <div class="col-md-3 step step-current">
        <a href="#searchtours">5. Search for Tours.</a>
    </div>
</div>
<!--Dynamically diaplay all maps that have a "Y" as their publish status -->
<div id="viewmapregion">
</div>
