<div class = "row" style="margin-top:0px;">
    <div class = "col-md-6 text-left">
        <h1>TripAround</h1>
    </div>
    <div class = "col-md-6 text-right">
        <button class="btn btn-primary" id="logoutsearch">Log out</button>
    </div>
</div>

<h3 class="shareheading" id="search">Welcome to the Share Page</h3>

<div class = "item" id ="viewshare">
    <IMG STYLE=" WIDTH:260px; HEIGHT:260px; display:inline-block; margin-right:40px"  SRC="\FrontEnd\Pictures\Share.png">
    <p class="caption">Share your tour with your friends</p>
</div>

<div class = "item">
    <IMG STYLE=" WIDTH:260px; HEIGHT:260px; display:inline-block; margin-right:40px"  SRC="\FrontEnd\Pictures\Gallery.png">
    <p class="caption">Design your individual map</p>
</div>

<div class = "item">
    <IMG STYLE=" WIDTH:260px; HEIGHT:260px; display:inline-block;"  SRC="\FrontEnd\Pictures\menu.png">
    <p class="caption">Create your tour video</p>
</div>
