<!-- This view generates the basic view of the Tour
 -- It has three panes : The overview  --
 -- The Iteniary page (Interactive Map)
 -- The Gallery Page -->


<!--<button id="Goback" class="btn btn-primary"> Go Back </button>-->

<div id="dispcontent">
    <div class="section" id="overview">OverView For the Iteniary Page</div>
    <div class="section" id="iterniarysrc">
    <div id="itercontainer">
        <div id="googlemapcontainer">
            <div class="row">
                <div class="col-md-8">
                    <div class="w3-container w3-blue" id="IteniaryPage">
                        <!--Iteniary pages go here -->
                        <!--Create Iteniary pages here -->

                    </div>
                </div>
                <div class="col-md-4">
                    <div id="googleMap" ></div>
                </div>
            </div>
        </div>
    </div>

    </div>
</div>


